html {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: 12pt;
}

body {
    background-color: cyan;
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: row;
    col-gap: 20px;
    min-height: 100vh;   
}

.left {
    width: 200px;
    flex 0 0 auto;
    text-align: center;
}

.center, .right {
    text-align: center;
    flex: 1;
}

.nav {
    width: 200px;
    flex: 0 0 auto;
    background-color: #f0f0f0;
    padding: 10px;
    box-sizing: border-box;
    min-height: 100%;
}

.nav button {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px #2e7d32;
}

.nav button:hover {
    background-color: #66bb6a;
    box-shadow: 0 2px #2e7d32;
}

.nav button:active {
    box-shadow: 0 1px #2e7d32;
}

.nav button:last-child {
    margin-bottom: 0;
}

.inside {
    padding: 20px;
}

.aboutGraphletJS {
    background-color: lightcoral;
}

.randomToken {
    background-color: lightgreen;
    margin: 0;
    padding: 0;
}

.labelsList { 
    background-color: lightgoldenrodyellow;
}

.right { 
    background-color: lightblue; 
}

ul {
    list-style-type: none;
    padding: 0;
}

.labelListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 5px 0;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.labelListItem:hover {
    background-color: #66bb6a;
}

#whichNode {
    margin: 20px auto;  
    width: 400px;
    border: 2px solid darkblue;
    border-radius: 10px;
    padding: 0;
}
#whichNode h4 {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    color: white;
    background-color: darkblue;
    border-radius: 10px 10px 0 0;
}

.node-field {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 5px 10px;

.node-label {
    flex-basis: 25%;
    text-align: left;
    flex-grow: 1; 
    margin-right: 10px; 
    font-weight: bold;
}

.node-value {
    flex-basis: 60%;
    text-align: left;
}

.node-divider {
    border: 0;
    height: 2px;
    background-color: darkblue;
    margin: 0; 
}

